.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.justify {
  text-align: justify;
}

.display {
  &-none {
    display: none;
  }
}
.move-transition {
  transition: transform 0.5s ease; /* Ajoute une transition de 0.5 seconde pour l'animation */
}
