.sticky {
  position: sticky;
  z-index: 10;
  top: 0;
  width: 100%;
  transition: all 0.5s ease;
}

.nav-link {
  font-size: large;
  &.active {
    border-radius: 3px;
    background-color: $primary;
  }
}
