.project {
  @include background-cover();
  min-height: 180px;
  border-radius: 25px;
  &-text {
    color: $black;
    opacity: 0;
    box-shadow: $box-shadow1;
    border-radius: 25px;
    background-color: rgba($black, 0.2);
    min-height: 180px;
    &:hover {
      opacity: 1;
      transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      cursor: pointer;
    }
  }
}
