/// Theme color
/// @type Color
$primary: #35437e;
$secondary: #539a8d;
$tertiary: #6a3740;
$secondary-opacity: #76ada32f;
$tertiary-opacity: #6a374033;
$light-gray: #ced4da;

/// Basic color
/// @type Color
$white: #ffffff;
$black: #000000;

/// Linear Gradient
/// @type LinearGradient
$linear-gradient1: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0) 0%,
  rgba(0, 0, 0, 0.5) 100%
);
