.about {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  @include respond-to('small') {
    flex-direction: column;
  }
  &-image {
    @include respond-to('small') {
      width: 60%;
      margin-bottom: 1.5rem;
    }
  }
  &-text {
    font-size: 1.5rem;
    @include respond-to('small') {
      font-size: 1rem;
    }
  }
}
