.skillgrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  &-item {
    margin: 1rem;
    &--icon {
      object-fit: contain;
      width: 65px;
      height: 65px;
      @include respond-to('small') {
        width: 45px;
        height: 45px;
      }
    }
  }
}
