.skillgrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  &-item {
    width: 65px;
    height: 65px;
    margin: 1rem;
    &--icon {
      width: 65px;
      height: 65px;
      object-fit: contain;
    }
  }
}
